/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Circular Std', sans-serif;
}


/* Media-query DESKTOP-FIRST */


/* mid-size*/
@media screen and (min-width: 992px) and (max-width:1200px){
    nav.top-nav{ 
        width: 100%;
        flex-wrap: wrap;
        background-color: hotpink;
    }
    
}
/* small-size */
@media screen and (min-width: 768px) and (max-width:991px){

}

/* extra-small-size */
@media screen and (max-width: 576px){

}




/* CSS-RULES */
footer{
    height: 111px;
    background-color: #282828;
}

.flex-box{
    display: flex;
}
section.top-section{
    height:84px;
    background-color: #080b12;
    justify-content: space-between;
    align-items: center;
}

.container{
    height: 776px;
    
}
.left-main-menu{
    width: 15%;
    background-color: #000000;
    padding-left: 1rem;
    position: relative;
    
}

.right-main-menu{
    width: 85%;
    background-color: #141922;
    overflow: scroll;
    
}

.left-main-menu, .right-main-menu{
    height: 80vh;
}

.call-to-action a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 8px 30px;
    border-radius: 25px;
}

#logo-container img{
    height: 50%;
    width: 50%;
    object-fit: cover;
    margin: 1rem;
}

.font-white{
    color: white;
}
.font-lg-grey{
    color: #6d6d6d
}
nav.top-nav{
    justify-content: center;
    padding: 1rem;
}

nav.top-nav ul li{
    display: inline-block;
    padding: 0 1rem;
    color: #7b7d82
}

div.playlist{
    width: calc(15% - .5rem);
    height: 250px;
    margin: 1rem;
    min-width: 237px;
    flex-shrink: 0;
}

div.playlist-cover{
    height: 85%;
    padding-bottom: 15px;
    
}
div.playlist-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.playlist-name{
    height: 15%;
    text-align: center;
}

.playlist-container section{
    flex-wrap: wrap;
}


.playlist-container h2, p.subtitle{
    padding-left: 1rem;
}

.playlist-container p{
    color: #5f6268;
}

.icon{
    width: 15%;
    font-size: 1.3rem;
}

.icon li{
    padding-top: 10px;
}

.icon-menu li{
    font-size: 1.3rem;
    padding-top: 10px;
}
.list-type-none{
    list-style-type: none;
}

.playlist-menu{
    margin-top: 25px;
}

.playlist-menu a, ul{
    margin-top: 20px;
}
.user-box{
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
}

.going-music{
    width: 15%;
}

.player{
    width: 75%;
}

.music-setting{
    width: 10%;
}

#logo-container{
    background-color: black;
    height: 100%;
    width: 15%;
}
#logo-container, .left-main-menu{
    min-width: 288px;
}