/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Circular Std', sans-serif;
}


/* CSS-RULES */

body{
    min-width: 560px;
}
footer{
    height: 9vh;
    background-color: #282828;
    margin: 0 auto;
}

.flex-box{
    display: flex;
}
section.top-section{
    height:67.9px;
    background-color: #080b12;
    justify-content: space-between;
    align-items: center;
}

.container{
    height: 84vh;
    
}
.left-main-menu{
    background-color: #000000;
    padding-left: 1rem;
    position: relative;
    overflow-y: auto;
}

.right-main-menu{
    width: 90%;
    background-color: #141922;
    overflow: auto;
}

.left-main-menu, .right-main-menu{
    height: 100%;
    min-width: 192px;
}

.call-to-action a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 8px 30px;
    border-radius: 25px;
}

.font-white{
    color: white;
}
.font-lg-grey{
    color: #6d6d6d
}
nav.top-nav{
    justify-content: center;
    padding: 1rem;
    margin-bottom: 25px;
}

nav.top-nav ul li{
    display: inline-block;
    padding: 0 1rem;
    color: #7b7d82
}

div.playlist{
    width: calc(14% - 1rem);
    margin: 1.5rem;
    min-width: 160px;
    flex-shrink: 0;
}

div.playlist-cover{
    height: 85%;
    padding-bottom: 15px;
    
}
div.playlist-cover img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

div.playlist-name{
    height: 15%;
    text-align: center;
}

.playlist-container section{
    /* flex-wrap: wrap; */
}


.playlist-container h2, p.subtitle{
    padding-left: 1rem;
}

.playlist-container p{
    color: #5f6268;
}

.playlist-container section{
    margin-bottom: 50px;
}

.cover-radius{
    border-radius: 50%;
}
.icon{
    width: 15%;
    font-size: 1.2rem;
}

.icon li{
    padding-top: 10px;
}

.icon-menu li{
    font-size: 1.2rem;
    padding-top: 10px;
}
.list-type-none{
    list-style-type: none;
}

.playlist-menu{
    margin-top: 25px;
    padding-top: 25px;
}

.playlist-menu a, ul{
    margin-top: 20px;
}

.playlist-menu ul li{
    margin-bottom: 10px;
}
.user-box{
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    /* width: 75%; */
}

.installation{
    border-bottom: 1px solid #7b7d82;
    margin-bottom: 15px;
    padding-bottom: 10px;
    height: 25px;
}

.user-tag{
    padding-bottom: 15px;
}

.user-tag img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    background-color: #5f6268;
    border-radius: 50%;
}

.user-tag span{
    vertical-align: super;
}

.installation img{
    width: 25px;
    height: 100%;
    
}
.going-music{
    width: 15%;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;
    
}

.player{
    width: 75%;
    flex-shrink: 4;
}

.music-setting{
    width: 10%;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
    flex-shrink: 0;
}

#logo-container{
    background-color: black;
    height: 100%;
    width: 192px;
}

#logo-container img{
    height: 50%;
    width: 50%;
    object-fit: contain;
    margin: 1rem;
}

div.mini-cover{
    width: 50px;
    height: 50px;    
    flex-shrink: 0;
}

div.mini-cover img{
    width: 100%;
    height: 100%;
    background-size: contain;
    flex-shrink: 0;
}

div.song-name span, i, .folder{
    font-size: 0.8rem;
    color: #5f6268;
    flex-shrink: 0;
}

div.player .comand, .riproduction-bar{
    height: 50%;
}

.comand{
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.comand i{
    font-size: 1rem;
    padding-top: 10px;
}

.comand i.fa-play-circle{
    font-size: 2rem;
}

div.riproduction-bar{
    margin: auto;
    justify-content: space-evenly;
    width: 40%;
    padding-top: 5px;
    align-items: center;
}
.riproduction{
    width: 65%;
    height: 5px;
    background-color: #5f6268;
    border-radius: 5px;
    flex-shrink: 0;
}

div.riproduction-bar > *{
    font-size: 0.7rem;
}

.music-setting i{
    padding-right: 10px;
}

.white-riproduction{
    width: 17%;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    
}



/* Media-query DESKTOP-FIRST */


/* mid-size*/
@media screen and (min-width:992px) and (max-width:1500px){
    nav.top-nav{ 
        width: 100%;
        
    }
    .playlist-container section{
        flex-wrap: wrap;
    }
        
}
/* small-size */
@media screen and (min-width:595px ) and (max-width:991px){
    nav.top-nav{
        text-align: center;
        justify-content: flex-start;
        align-items: space-between;
    }

    .playlist-container section{
        flex-wrap: wrap;
    }
}

/* extra-small-size */
@media screen and (max-width: 594px){
    div.icon-menu, div.playlist-menu, span.font-lg-grey, div.user-tag span, #logo-container img{
        display: none;
    }

    .user-tag, .installation, .menu-icon, .user-box{
        width: 40px;
    }
    
    #logo-container {
        max-width: 60px;
    }

    .left-main-menu{
        width: 3%;
        min-width: 60px;
    }

    .playlist-container section{
        flex-wrap: wrap;
    }

    #logo-container{
        background-image: url(../img/logo-small.svg);
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        transform: scale(0.5);
    }

    .call-to-action{
        width: 63%;
    }
    
}