/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Circular Std', sans-serif;
}


/* Media-query DESKTOP-FIRST */


/* mid-size*/
@media screen and (min-width: 992px) and (max-width:1200px){
    nav.top-nav{ 
        width: 100%;
        flex-wrap: wrap;
        background-color: hotpink;
    }
    
}
/* small-size */
@media screen and (min-width: 768px) and (max-width:991px){

}

/* extra-small-size */
@media screen and (max-width: 576px){

}




/* CSS-RULES */
footer{
    height: 11vh;
    background-color: gray;
    display: fixed;
}
.flex-box{
    display: flex;
}
section.top-section{
    height:9vh;
    background-color: aqua;
    justify-content: space-between;
    align-items: center;
}

.container{
    height: 100%;
    
}
.left-main-menu{
    width: 15%;
    height: 80vh;
    background-color: tomato;
    padding-left: 1rem;
    position: relative;
    
}

.right-main-menu{
    width: 85%;
    background-color: yellowgreen;
    height: 80vh;
    overflow: scroll;
    
}

nav.top-nav{
    justify-content: center;
    padding: 1rem;
}

nav.top-nav ul li{
    display: inline-block;
    padding: 0 1rem;
}

div.playlist{
    width: calc(15% - .5rem);
    height: 250px;
    background-color: red;
    margin: 1rem;
    min-width: 237px;
    flex-shrink: 0;
    
}

div.playlist-cover{
    height: 85%;
    
}

div.playlist-name{
    height: 15%;
    text-align: center;
}

.playlist-container section{
    flex-wrap: wrap;
}

.icon{
    width: 15%;
    background-color: azure;
}

.list-type-none{
    list-style-type: none;
}

.user-box{
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    
}



#logo-container{
    background-color: black;
    height: 100%;
    width: 15%;
    color: white;
}
#logo-container, .left-main-menu{
    min-width: 288px;
}